* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: calc(60% + 0.8vmin);
}
body {
  line-height: 1.75;
  color: #1d1d1d;
}
.myImg {
  width: 10rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
.myImgList {
  width: 5rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
